.ks-hidden {
  display: none;
}
.ks-invisible {
  visibility: hidden;
}
.ks-clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear {
  *zoom: 1;
}
/* scrollbars

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}

*/
a {
  color: #666666;
  text-decoration: none;
  border-bottom: 1px dotted #666666;
}
a:hover {
  color: #44bbff;
  text-decoration: none;
  border-bottom: 1px dashed #44bbff;
  background: #f4f4f4;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}
ol,
ul {
  padding: 0;
}
ol li,
ul li {
  padding-left: 16px;
  background: transparent url(bullet_black.png) left 6px no-repeat;
  list-style: none;
}
ol li li,
ul li li {
  background-image: url(bullet_black_in.png);
}
dd ul {
  padding-left: 0;
}
dd ul li {
  background-image: url(bullet_black_in.png);
}
iframe {
  border: none;
}
.highlight pre {
  font-size: 12px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}
body {
  font-family: Optima, Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", serif;
}
