{% extends "layout.html" %}

{% block main %}

<style type="text/css">
    .container h2 {
        font: normal normal 12px "Helvetica", arial, sans-serif;
        text-transform: uppercase;
        color: #bcbcbc;
    }
    .container h3 {
        font-family: "Helvetica", arial, sans-serif;
    }
</style>
<div class="entry-content">
    <img src="https://avatars2.githubusercontent.com/u/36899?s=460" title="donate to me" style="display: block; float: right; width: 120px; height: 120px;margin-top: 30px;"/>
    {{post.content}}
</div>
<p>
    <img src="/assets/images/sea.jpg" alt="面朝大海 春暖花开" title="面朝大海 春暖花开" />
</p>
<h2>Recent Updates <a href="./archive.html" title="see all posts" style="float: right;">&raquo;</a></h2>
<div class="entry-list">
    {% for post in resource.posts[:6] %}
    <div class="entry-item">
        <time class="updated" datetime="{{post.date|xmldatetime}}">{{post.date.strftime("%Y-%m-%d")}}</time>
        <a href="{{ post|permalink }}">{{post.title}}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}