<!DOCTYPE HTML>
<html lang="{{theme.lang}}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{site.name}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="{{static_url('style.css')}}"/>
    <link rel="stylesheet" href="{{static_url('pygments.css')}}"/>
    {% if site.feed -%}
    <link rel="alternate" type="application/rss+xml" href="{{site.feed}}" title="{{site.name}}"/>
    {% else %}
    <link rel="alternate" type="application/rss+xml" href="{{ content_url('feed.xml') }}" title="{{site.name}}"/>
    {%- endif %}
    {% block afterstyle %}
    {% endblock %}

    <script>
        (function() {
            var cx = '012347804910294994683:rsexabosj44';
            var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
        })();
    </script>
</head>
<body>
<!--http://vimeo.com/53043267-->
<div id="topbar"></div>
<header>
    {% block header -%}
    <div id="logo"><a href="/">{{site.name}}</a></div>
    {%- block nav %}
    <nav id="nav" role="navigation">
        {% for item in theme.navigation %}
        <a  href="{{item.link}}">{{item.title}}</a>
        {%- endfor %}
    </nav>
    {%- endblock %}
    {%- endblock %}
</header>
<div id="search">
    <gcse:searchbox enableHistory="true" autoCompleteMaxCompletions="5" autoCompleteMatchType='any'></gcse:searchbox>
</div>
<div id="search-results">
    <gcse:searchresults refinementStyle="link"  adclient="pub-3716363443644786"></gcse:searchresults>
</div>
<div class="container">

    {%- block main %}
    {% endblock -%}
</div>
<footer>
    {%- block footer %}
    <hr class="end"/>
    <p>&copy;2008~2012 {% if theme.github %} <a href="{{ theme.github }}">Liz</a> {% else %} Liz {% endif %} &hearts; <span class="software">Powered by <a href="http://lab.lepture.com/liquidluck/">Felix Felicis</a> 3.5, Thanks A Lot~</span></p>
    {%- endblock %}
</footer>

{% if theme.analytics -%}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{theme.analytics}}']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
{%- endif %}
</body>
</html>
