<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS - SunsetSunrising</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="/assets/style.css?v=c9d5b"/>
    <link rel="stylesheet" href="/assets/pygments.css?v=cedbb"/>
    
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="SunsetSunrising"/>
    
<link rel="canonical" href="/2008/rss.html" />



    <script>
        (function() {
            var cx = '012347804910294994683:rsexabosj44';
            var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
        })();
    </script>
</head>
<body>
<!--http://vimeo.com/53043267-->
<div id="topbar"></div>
<header>
    <div id="logo"><a href="/">SunsetSunrising</a></div>
    <nav id="nav" role="navigation">
        
        <a  href="/">Home</a>
        <a  href="/resume/zh.html">About</a>
    </nav>
</header>
<div id="search">
    <gcse:searchbox enableHistory="true" autoCompleteMaxCompletions="5" autoCompleteMatchType='any'></gcse:searchbox>
</div>
<div id="search-results">
    <gcse:searchresults refinementStyle="link"  adclient="pub-3716363443644786"></gcse:searchresults>
</div>
<div class="container"><h1 class="entry-title">RSS</h1>
<div class="entry-meta">
    <time class="updated" datetime="2008-10-27T12:10:17+08:00">
        <a href="/2008/">2008-10-27</a>
    </time>
    <span class="author vcard">
        by <a class="url fn" href="http://sunsetsunrising.com">Yan Sheng</a>
        
    </span>
</div>
<div class="entry-content">
    <p>Django中的RSS实现</p>
<p>文档参考：<a class="reference external" href="http://www.djangoproject.com/documentation/0.96/syndication_feeds/">http://www.djangoproject.com/documentation/0.96/syndication_feeds/</a></p>
<p>首先使用现成的 django.contrib.syndication.views.feed，</p>
<div class="highlight"><pre><span class="p">(</span><span class="s">r&#39;^feeds/(?P&lt;url&gt;.*)/$&#39;</span><span class="p">,</span> <span class="s">&#39;django.contrib.syndication.views.feed&#39;</span><span class="p">,</span> <span class="p">{</span><span class="s">&#39;feed_dict&#39;</span><span class="p">:</span> <span class="n">feeds</span><span class="p">}),</span>
</pre></div>
<p>Django中有现成的方法提供RSS，即提供高层的框架，也提供低层框架。
具体可以参考djangoproject上的例子，在这列出几个注意点：</p>
<div class="highlight"><pre><span class="n">feeds</span> <span class="o">=</span> <span class="p">{</span>
<span class="s">&#39;latest&#39;</span><span class="p">:</span> <span class="n">LatestEntries</span><span class="p">,</span>
<span class="s">&#39;categories&#39;</span><span class="p">:</span> <span class="n">LatestEntriesByCategory</span><span class="p">,</span>
<span class="p">}</span>
</pre></div>
<p>中的latest这个是对应于templates／feeds／中的模板前缀名，模板里面写的obj.xx是models中的相应字段xx</p>
<ul class="simple">
<li>RSS定义里面的item，直接使用items函数，这个里面可以去获取models中的表字段</li>
<li>获取link，首先去寻找每项的get_absolute_url，如果没有定义，则会去找item_link</li>
<li>RSS 中每项都有title，description，link还有语言等，这些都有默认值，自己设置后，请求feedsurl之后，返回的是个像上述样子的 xml文档，也就是说，只要符合这个xml文档的书写规则，就可以自定义生成feed，而不必依赖于django的 django.contrib.syndication.views.feed</li>
<li>同样，RSS阅读器其实也是解析这个xml文档，但里面一个非常要考虑的东西是feed时间更新问题</li>
</ul>
<p>GAE上的Feed
由于GAE上不能直接使用django中的feed，所以尝试自己实现提供Feed
提供Feed本质上只要response出来的东西符合上述xml文档格式就ok
所以可以尝试使用feedgenerator这个低层，或者直接套模板，也就是将xml当成模板做：</p>
<div class="highlight"><pre><span class="cp">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;</span>
<span class="nt">&lt;rss</span> <span class="na">version=</span><span class="s">&quot;2.0&quot;</span><span class="nt">&gt;</span>

<span class="nt">&lt;channel&gt;</span>
    <span class="nt">&lt;title&gt;</span>LizSky<span class="nt">&lt;/title&gt;</span>
    <span class="nt">&lt;link&gt;</span>http:/lizziesky.appspot.com/<span class="nt">&lt;/link&gt;</span>
    <span class="nt">&lt;description&gt;</span>lizzie&#39;s blog<span class="nt">&lt;/description&gt;</span>
    <span class="nt">&lt;language&gt;</span>zh_CN<span class="nt">&lt;/language&gt;</span>
    {% for i in entry %}
    <span class="nt">&lt;item&gt;</span>
        <span class="nt">&lt;title&gt;</span>{{ i.title }}<span class="nt">&lt;/title&gt;</span>
        <span class="nt">&lt;link&gt;</span>http:/lizziesky.appspot.com/blog/post/{{ i.key.id }}/<span class="nt">&lt;/link&gt;</span>
        {% load my_filter %}
        <span class="nt">&lt;description&gt;</span>{{ i.body|post_body_style }}<span class="nt">&lt;/description&gt;</span>
    <span class="nt">&lt;/item&gt;</span>
    {% endfor %}
<span class="nt">&lt;/channel&gt;</span>
<span class="nt">&lt;/rss&gt;</span>
</pre></div>
<p>然后在view中</p>
<div class="highlight"><pre><span class="k">def</span> <span class="nf">get_feeds</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">entry</span> <span class="o">=</span> <span class="n">Entry</span><span class="o">.</span><span class="n">all</span><span class="p">()</span><span class="o">.</span><span class="n">order</span><span class="p">(</span><span class="s">&#39;-pub_date&#39;</span><span class="p">)[:</span><span class="mi">10</span><span class="p">]</span>
    <span class="k">return</span> <span class="n">render_to_response</span><span class="p">(</span><span class="s">&quot;blog/feed.html&quot;</span><span class="p">,</span> <span class="p">{</span><span class="s">&quot;entry&quot;</span><span class="p">:</span><span class="n">entry</span><span class="p">})</span>
</pre></div>
<p>把她当成普通模板做，呵呵，似乎一切ok，不过有个问题是模板中可以用自定义filter也可以。</p>

</div>
<div class="entry-tags">
    <a href="/tag/#GAE">GAE</a><a href="/tag/#Python">Python</a>
</div>


<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'sunsetsunrising';
    var disqus_title = 'RSS';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>
<footer>
    <hr class="end"/>
    <p>&copy;2008~2012  <a href="https://github.com/lizzie/lizzie.github.com">Liz</a> </p>
</footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4419044-5']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>